{% extends 'base.html' %}


{% block content %}
    <h1>{% block title %} Config1 {% endblock %}</h1>
    <!-- JavaScript functions -->
    <script type="text/javascript"> 
        let possible_scales = {{pos_scales|tojson}}; 
        let max_memory = {{params.max_mem_usage}};
    </script>
    <script type="text/javascript" src='../static/js/js_functions.js'> </script>

    <div class="container">
        <!-- Main Form -->
        <form method="POST" action="">
            <div class="form-group">
                <!-- Image Size -->
                <div class='row'>
                    <div class='col-3'>
                        <label id= "lbl_slider1" for="slider1" class="form-label"><b>Image Size: </b>{{2**params.img_size|int}}</label>
                        <input type="range" 
                        class="form-range" 
                        min="{{params.min_img_size}}" 
                        max="{{params.max_img_size}}" 
                        step="1" 
                        oninput = "updateImageSize('lbl_slider1', this.value, '<b>Image Size: </b>')" 
                        value="{{params.img_size}}" 
                        name="slider_img_size"
                        id="slider1">
                    </div>
                    <div class="col-5">
                        <img src="../static/sizes/{{2**params.img_size|int}}.png" id="img_size" alt="image of image size" width="50%" height="100%"/>
                    </div>
                </div>

                <!-- Shapes -->
                <label class="form-label"><b>Shapes: </b></label>
                <div>
                    {% for shape_name in params.shapes %}
                    <div class="form-check form-check-inline">
                        {% if shape_name in params.selected_shapes %}
                            <input class="form-check-input" type="checkbox" name="shape_selection_{{shape_name}}" id="cb_{{shape_name}}" oninput="assertSelectedShape()" value="{{shape_name}}" checked>
                        {% else %}
                            <input class="form-check-input" type="checkbox" name="shape_selection_{{shape_name}}" id="cb_{{shape_name}}" oninput="assertSelectedShape()" value="{{shape_name}}">
                        {% endif %}
                        <label class="captcha" for="cb_{{shape_name}}"><img src="../static/shapes/{{shape_name}}.png" id="img_shape_{{shape_name}}" alt="{{shape_name}}" width="100%" height="100%"/></label>
                    </div>
                    {% endfor %}
                </div>

                <!-- Number of colors -->
                <div class="row">
                    <div class="col-3">
                        <label id="lbl_slider3" for="slider3" class="form-label"><b>Colors: </b>{{params.colors}}</label>
                        <input type="range" 
                        class="form-range" 
                        min="1" 
                        max="{{params.max_colors}}" 
                        step="1" 
                        oninput = "updateColormap('lbl_slider3', this.value, '<b>Colors: </b>')"
                        value="{{params.colors}}" 
                        name="slider_colors"
                        id="slider3">
                    </div>
                    <div class="col-5">
                        <img src="../static/colors/{{params.colors}}.png" id="colormap" alt="image of colors"/>
                    </div>
                </div>

                <!-- Number of rotations -->
                <div class="row">
                    <div class="col-3">
                        <label id="lbl_slider4" for="slider4" class="form-label"><b>Rotations: </b>{{params.nmb_rotations}}</label>
                        <input type="range" 
                        class="form-range" 
                        min="{{params.min_rotations}}" 
                        max="{{params.max_rotations}}" 
                        step="1" 
                        oninput = "updateRotation('lbl_slider4', this.value, '<b>Rotations: </b>')"
                        value="{{params.nmb_rotations}}" 
                        name="slider_rotations"
                        id="slider4">
                    </div>
                    <div class="col-5">
                        <img src="../static/rotations/gifs/{{params.nmb_rotations|int}}.gif" id="rotations" alt="gif of rotations" width="50%" height="100%"/>
                    </div>
                </div>

                <!-- Background -->   
                <div class="row">
                    <div class="col-2">     
                        <label class="form-label"><b>Background: </b></label>
                        <label>Background Type: </label>
                        <select class="form-select" aria-label="Default select example" name='bg_selection'>
                            {% for bg_mode in params.bg_modes %}
                                {% if bg_mode == params.bg_mode %}
                                    <option value="{{bg_mode}}" selected>{{bg_mode}}</option>
                                {% else %}
                                    <option value="{{bg_mode}}">{{bg_mode}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label>Generation Mode: </label>
                        <div class="form-check form-switch">
                            {% if params.nmb_backgrounds == 0 %}
                                <input class="form-check-input" type="checkbox" id="switch_random_bg" name="switch_bg" oninput="updateBgMode()" value="0" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="switch_random_bg" name="switch_bg" oninput="updateBgMode()" value="0">
                            {% endif %}
                            <label class="form-check-label" for="switch_random_bg">Random</label>
                        </div>
                    </div>
                    <div class="col-3">
                        <label id="lbl_nmb_bg" for="nmb_backgrounds">Number of Backgrounds:</label>
                        <div>
                            {% if params.nmb_backgrounds == 0 %}
                                <input type="number" id="nmb_backgrounds" name="nmb_bg" min="1" style="width: 5em;" value="10" disabled>
                            {% else %}
                                <input type="number" id="nmb_backgrounds" name="nmb_bg" min="1" style="width: 5em;" value="{{params.nmb_backgrounds}}">
                            {% endif %}
                        </div>
                    </div>
                </div>

                <!-- Fillrates -->
                <div class="row">
                    <div class="col-3">
                        <label id= "lbl_slider5" for="slider5" class="form-label"><b>Minimum Fillrate: </b>{{params.min_fillrate}}</label>
                        <div>
                            <input type="range" 
                            class="form-range" 
                            min="0" 
                            max="1" 
                            step="0.1" 
                            oninput = "updateFillrate('lbl_slider5', this.value, '<b>Minimum Fillrate: </b>', 0);updateScale()"
                            value="{{params.min_fillrate}}" 
                            name="slider_min_fillrate"
                            id="slider5">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label id= "lbl_slider6" for="slider6" class="form-label"><b>Maximum Fillrate: </b>{{params.max_fillrate}}</label>
                        <div>
                            <input type="range" 
                            class="form-range" 
                            min="0" 
                            max="1" 
                            step="0.1" 
                            oninput = "updateFillrate('lbl_slider6', this.value, '<b>Maximum Fillrate: </b>', 1);updateScale()"
                            value="{{params.max_fillrate}}" 
                            name="slider_max_fillrate"
                            id="slider6">
                        </div>
                    </div>
                </div>

                 <!-- Positions -->
                <div class='row'>
                    <div class='col-3'>
                        <label id= "lbl_slider_pos" for="slider_pos" class="form-label"><b>Positions: </b>{{params.positions}}</label>
                        <input type="range" 
                        class="form-range" 
                        min="{{params.min_positions}}" 
                        max="{{params.max_positions}}" 
                        step="1" 
                        oninput = "updatePosition()" 
                        value="{{params.positions}}" 
                        name="slider_pos"
                        id="slider_pos">
                    </div>
                </div>

                <!-- Scales -->
                <div class='row'>
                    <div class='col-3'>
                        <label id= "lbl_slider_scale" for="slider_scale" class="form-label"><b>Scales: </b>{{params.scales}}</label>
                        <input type="range" 
                        class="form-range" 
                        min="{{params.min_scales}}" 
                        max="{{params.max_scales}}" 
                        step="1" 
                        oninput = "updateScale()" 
                        value="{{params.scales}}" 
                        name="slider_scale"
                        id="slider_scale">
                    </div>
                </div>

                <!-- Targets -->
                <div class='row'>
                    <div class='col-3'>
                        <label class="form-label"><b>Targets:</b></label>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-3'>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="switch_bbox">Bounding Boxes:</label>
                            {% if params.target_bbox %}
                                <input class="form-check-input" type="checkbox" id="switch_bbox" name="switch_bbox" value="0" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="switch_bbox" name="switch_bbox" value="0">
                            {% endif %}
                        </div>
                    </div>
                    <div class='col-3'>
                        <div class="form-check form-switch">
                            <label class="form-check-label" for="switch_seg">Segmentation Maps:</label>
                            {% if params.target_seg %}
                                <input class="form-check-input" type="checkbox" id="switch_seg" name="switch_seg" value="0" checked>
                            {% else %}
                                <input class="form-check-input" type="checkbox" id="switch_seg" name="switch_seg" value="0">
                            {% endif %}                            
                        </div>
                    </div>
                </div>


                <!-- Size of Dataset -->
            
                <!-- Status information-->
                <div class='row'>
                    <div class='col-3'>
                        <label class="form-label"><b>Number of Samples [total]:</b></label>
                    </div>
                    <div class='col-2'>
                        <label id= "lbl_nmb_states" class="form-label">{{params.n_states}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3"> 
                        <label class="form-label"><b>Number of Samples [selected]:</b></label>
                    </div>
                    <div class='col-2'>
                        <input type="number" id="nmb_samples" name="nmb_samples" min="1" max="{{params.n_samples}}" value="{{params.n_samples}}" oninput="adjustSliders(true)">
                    </div>
                    <div class="col-3">
                        <div id="mem_warning" class="alert alert-warning" role="alert" style="display: none;">Dataset too large!</div>
                    </div>
                <div class='row'>
                    <div class='col-3'>
                        <label class="form-label"><b>Number of Masks:</b></label>
                    </div>
                    <div class='col-2'>
                        <label id= "lbl_nmb_masks" class="form-label">{{params.n_masks}}</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-3">
                        <label class="form-label"><b>Percentage of Testdata:</b></label> 
                    </div>
                    <div class="col-2">
                        <label id="lbl_test_perc" class="form-label">{{params.test_perc}}</label> 
                        <input type="range" 
                        class="form-range" 
                        min="0" 
                        max="1" 
                        step="0.01" 
                        oninput = "updateSlider('lbl_test_perc', this.value, '')" 
                        value="{{params.test_perc}}" 
                        name="slider_test_perc"
                        id="slider_test_perc">
                    </div>
                </div>
                <div class='row'>
                    <div class='col-3'>
                        <label class="form-label"><b>Memory Usage [in GB]: </b></label>
                    </div>
                    <div class='col-2'>
                        <label id= "lbl_mem_usage" class="form-label">{{params.mem_usage}}</label>
                    </div>
                </div>

                <!-- Save Button -->
                <div class="row">
                    <div class="col-3">
                        <button id="btn_submit" type="submit" href="{{url_for('create_dataset')}}">Save Configs</button>
                    </div>
                </div>

                <!--
                <div class="row">
                    <div class="col-3">
                        <label id= "tmp_label" class="form-label">some status message</label>
                    </div>
                </div>
                -->
            </div>
        </form>
    </div>
    
{% endblock %}